
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Writer Register Page</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				<form  method="post">
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Name Surname</label>

							<input type="text" class="form-control" id="" name="WriterName" placeholder="" required="">
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">Gmail</label>
							<input type="email" class="form-control" id="" name="WriterMail" placeholder="" required="">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Password</label>
							<input type="password" class="form-control" id=""  name="WriterPassword" placeholder="" required="">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Confirm Password</label>
							<input type="password" class="form-control" id="" name="WriterPassword" placeholder="" required="">
						</div>

					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="exampleInputPassword1 mb-2">Image Url</label>
							<input type="text" class="form-control" id=""  name="WriterImage" placeholder="" required="">
						</div>
						

					</div>
					<button type="submit" class="btn btn-primary submit mb-4">Sign Up</button>
					
				</form>

			</div>
		</div>
	</div>
</section>

